* {
    margin: 0;
    padding: 3;
}
header,
footer {
    width: 100%;
    height: 150px;
    background-color: rgb(241, 109, 181);
    color: rgb(104, 244, 239);
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 15px;
}
p {
    text-align: center;
    font-size: 30px;
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(104, 244, 239);
    box-shadow: 5px 10px rgb(241, 109, 181);
}